.uofa{
  background-color: #007C41;
}

.uofatext{
  color: #fff;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'Abel';
    font-size: medium;
    margin: 0 0 60px; /* bottom = footer height */
}
footer {
  	border-top: 3px solid #ffdb05;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}